## Server
PORT=3000
NODE_ENV=local

## Database
DB_URL=postgresql://postgres:postgres@localhost:5432/tickets

## Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tickets
POSTGRES_PORT=5432

## API Swagger docs
SWAGGER_TITLE=Tikects
SWAGGER_DESCRIPTION=Service to manage tickets
API_PREFIX=api

## Password hash
PASSWORD_SALT_ROUNDS=10

## Seed
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=dasdasdasdñasñdashd322131